# Python Essentials

## Data Types

Computer programs typically keep track of a range of data types.

For example, `1.5` is a **floating point number**, while `1` is an **integer**.

Programs need to distinguish between these two types for various reasons.

One is that they are stored in memory differently.

Another is that arithmetic operations are different
- For example, floating point arithmetic is implemented on most machines by a specialized Floating Point Unit (FPU).

In general, floats are more informative but arithmetic operations on integers are faster and more accurate.

Python provides numerous other built-in Python data types, some of which we’ve already met
- strings, lists, etc.

Let’s learn a bit more about them.

### Primitive Data Types

One simple data type is **Boolean values**, which can be either `True` or `False`

In [71]:
x = True
x

True

We can check the type of any object in memory using the `type()` function.

In [72]:
type(x)

bool

In the next line of code, the interpreter evaluates the expression on the right of = and binds y to this value

In [73]:
y = 100 < 10 
y

False

In [74]:
type(y)

bool

In arithmetic expressions, `True` is converted to `1` and `False` is converted `0`.

Here are some examples (remember we have just assigned x = True and y is False!)

In [75]:
x + y

1

In [76]:
x * y

0

In [77]:
True + True

2

In [78]:
bools = [True, True, False, True]  # List of Boolean values

sum(bools)

3

Complex numbers are another primitive data type in Python

In [79]:
x = complex(1, 2)
y = complex(2, 1)
print(x * y)

type(x)

5j

complex

### Containers

A Container is an object that is used to store different objects and provide a way to access the contained objects and iterate over them.

Python has several basic types for storing collections of (possibly heterogeneous) data.

A related data type is **tuples**, which are “immutable” lists.

Python uses the commas ( , ) to define a tuple, not parentheses.

In [80]:
x = ('a', 'b')  # Parentheses instead of the square brackets
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [81]:
type(x)

tuple

In Python, an object is called **immutable** if, once created, the object cannot be changed.

Conversely, an object is **mutable** if it can still be altered after creation.

Python **lists** are mutable

In [82]:
x = [1, 2]
x[0] = 10 # change first value from 1 to 10
x

[10, 2]

But tuples are *not*

In [83]:
x = (1, 2)
x[0] = 10

TypeError: 'tuple' object does not support item assignment

**Tuples (and lists)** can be **“unpacked”** (Unpacking tuples means assigning individual elements of a tuple to multiple variables) as follows

In [84]:
integers = (10, 20, 30)
x, y, z = integers 
x

10

In [85]:
y

20

In [86]:
z

30

Tuple unpacking is convenient and we’ll use it often.

### Slice Notation

To access multiple elements of a list or tuple, you can use Python’s slice notation.
For example:

In [87]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

In [88]:
a[1:3]

[4, 6]

The general rule is that `a[m:n]` returns `n - m` elements, starting at `a[m]`.

Negative numbers are also permissible

In [89]:
a[-2:]  # Last two elements of the list

[6, 8]

The same slice notation works on tuples and strings

In [90]:
s = 'foobar'
s[-3:] # Select the last three elements

'bar'

### Make indices more readable by Naming slices
- Have you ever been confused when looking into code that contains hardcoded slice indices? Even if you understand it now, you might forget why you choose specific indices in the future.

In [1]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

some_sum = sum(data[:8]) * sum(data[8:])

If so, name your slice. Python provides a nice built-in function for that purpose called slice. By using names, your code is much easier to understand.

In [8]:
JANUARY = slice(0, 8)
FEBRUARY = slice(8, len(data))
some_sum = sum(data[JANUARY]) * sum(data[FEBRUARY])
print(some_sum)

684

### Sets and Dictionaries

Two other container types we should mention before moving on are sets and dictionaries.

**Dictionaries** are much like lists, except that the items are named instead of numbered

In [91]:
d = {'name': 'Frode', 'age': 33}
type(d)

dict

In [92]:
d['age']

33

The names `'name'` and `'age'` are called the *keys*.

The objects that the keys are mapped to (`'Frodo'` and `33`) are called the values.

**Sets** are unordered collections without duplicates, and set methods provide the usual set-theoretic operations

In [93]:
s1 = {'a', 'b'}
type(s1)

set

In [94]:
s2 = {'b', 'c'}
s1.issubset(s2)

False

In [95]:
s1.intersection(s2)

{'b'}

The `set()` function creates sets from sequences

In [96]:
s3 = set(('foo','bar','foo'))
s3

{'bar', 'foo'}

Here we note sets does not have duplicates, such that 'foo' is removed.

### Update a Dictionary With Items From Another Dictionary
- If you want to update a dictionary with items from another dictionary or from an iterable of key/value pairs, use the `update`
 method.

In [20]:
birth_year = {"Ben": 1997}
new_birth_year = {"Michael": 1993, 'Lauren': 1999}
birth_year.update(new_birth_year)

In [21]:
birth_year.update(Josh=1990, Olivia=1991)

In [22]:
birth_year

{'Ben': 1997, 'Michael': 1993, 'Lauren': 1999, 'Josh': 1990, 'Olivia': 1991}

### Key Parameter in Max(): Find the Key with the Largest Value
- Apply `max` on a Python dictionary will give you the largest key, not the key with the largest value. If you want to find the key with the largest value, specify that using the key parameter in the max method.

In [23]:
birth_year = {"Ben": 1997, "Alex": 2000, "Oliver": 1995}

max(birth_year)

'Oliver'

In [24]:
max_val = max(birth_year, key=lambda k: birth_year[k])
max_val

'Alex'

### Get a Dictionary From a List and a Value
- If you want to get a dictionary from a list and a value, try dict.fromkeys.

In [26]:
furnitures = ['bed', 'table', 'chair']
food = ['apple', 'pepper', 'onion']
loc1 = 'IKEA'
loc2 = 'ALDI'

For example, we can use `dict.fromkeys`
 to create a dictionary of furnitures’ locations:

In [27]:
furniture_loc = dict.fromkeys(furnitures, loc1)
furniture_loc

{'bed': 'IKEA', 'table': 'IKEA', 'chair': 'IKEA'}

… or create a dictionary of food’s locations:

In [28]:
food_loc = dict.fromkeys(food, loc2)
food_loc

{'apple': 'ALDI', 'pepper': 'ALDI', 'onion': 'ALDI'}

These 2 results can be combined into a location dictionary like below:

In [29]:
locations = {**food_loc, **furniture_loc}
locations

{'apple': 'ALDI',
 'pepper': 'ALDI',
 'onion': 'ALDI',
 'bed': 'IKEA',
 'table': 'IKEA',
 'chair': 'IKEA'}

## Input and Output

Let’s briefly review reading and writing to text files, starting with writing

In [97]:
f = open('newfile.txt', 'w')   # Open 'newfile.txt' where 'w' refers to mode "writing"
f.write('Testing\n')           # Here '\n' means new line just as LaTex
f.write('Testing again')
f.close()

Here

- the built-in function `open()` creates a file object for writing to.
- Both  `write()` and `close()` are methods of file objects.

Where is this file that we’ve created?

Recall that Python maintains a concept of the present working directory (pwd) that can be located from with Jupyter or IPython via

In [98]:
%pwd

'/Users/hanschristian'

We can also use Python to read the contents of `newline.txt` as follows

In [99]:
f = open('newfile.txt', 'r') # r referes to mode "read"
out = f.read()
out

'Testing\nTesting again'

In [100]:
print(out)

Testing
Testing again

### Paths

Note that if `newfile.txt` is not in the present working directory then this call to `open()` fails.

In this case, you can shift the file to the pwd or specify the full path to the file

In [101]:
f = open('/Users/hanschristian/newfile.txt', 'r')

# Introduction to iterators
## Iterators vs. iterables
- iterable
    - lists, strings, dictionaries, file connections, range objects
    - an object with an associated `iter()` method
    - applying `iter()` to an oterable creates an iterator

- iterator 
    - An iterator is an object that contains a countable number of values
    - produces next value with `next()`
   
we can use `print()` and `next()` to identify iterables and iterators.

In [102]:
word = 'Da'
it = iter(word)
next(it)

'D'

In [103]:
next(it)

'a'

In [104]:
# using star operator
word = 'Data'
it = iter(word)
print(*it)

D a t a

### Iterating over dictionaries

In [105]:
pythonistas = {'hugo': 'lehmann', 'francis': 'castro'}
# to iterate we need to unpack
for key, value in pythonistas.items():
    print(key, value)

hugo lehmann
francis castro

### Iterating over lists

In [106]:
# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for person in flash:
    print(person)

# Create an iterator for flash: superhero
superhero = iter(flash)

# Print each item from the iterator
print(next(superhero))
print(next(superhero))
print(next(superhero))
print(next(superhero))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

### Iterating over range
- `range()` doesn't actually create the list; instead, it creates a range object with an iterator that produces the values until it reaches the limit

In [107]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3):
    print(num)

# Create an iterator for range(10 ** 100): googol
googol = iter(range(10 ** 100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

### Iterating

One of the most important tasks in computing is stepping through a sequence of data and performing a given action.

One of Python’s strengths is its simple, flexible interface to this kind of iteration via the `for` loop.

### Looping over Different Objects

Many Python objects are “iterable”, in the sense that they can be looped over.

To give an example, let’s write the file us_cities.txt, which lists US cities and their population, to the present working directory.

In [108]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Overwriting us_cities.txt

Here %%file is an [IPython cell magic](https://ipython.readthedocs.io/en/stable/interactive/magics.html#cell-magics).

Suppose that we want to make the information more readable, by capitalizing names and adding commas to mark thousands.

The program below reads the data in and makes the conversion:

In [109]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking, .split method by ":"
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)         # left align the string with 15 characters
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

Here `format()` is a string method used for inserting variables into strings. More precisely, we are using the f string.  F-strings provide a concise and convenient way to embed python expressions inside string literals for formatting. 

The reformatting of each line is the result of three different string methods, the details of which can be left till later.

The interesting part of this program for us is line 2, which shows that

1. The file object `data_file` is iterable, in the sense that it can be placed to the right of `in` within a for loop.
2. Iteration steps through each line in the file.

This leads to the clean, convenient syntax shown in our program.

Many other kinds of objects are iterable, and we’ll discuss some of them later on.

### Looping without Indices

One thing you might have noticed is that Python tends to favor looping without explicit indexing.


For example:

In [1]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

is preferred to

In [2]:
for i in range(len(x_values)):
    print(x_values[i]*x_values[i])

1
4
9

When you compare these two alternatives, you can see why the first one is preferred.

## zip
Python provides some facilities to simplify looping without indices.
One is `zip()`, which is used for stepping through pairs from two sequences.

- zip accepts an arbitrary number of iterables and returns a zip object which is an iterator of tuples

In [112]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Soul', 'Beijing')
z = zip(countries, cities)

z_list = list(z) 
print(z_list)

[('Japan', 'Tokyo'), ('Korea', 'Soul'), ('China', 'Beijing')]

### zip() and unpack

In [113]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Soul', 'Beijing')
for country, city in zip(countries, cities):
    print(country, city)

    #print(f'The Capital of {country} is {city}') # alternatively using f-string 
    #print('The Capital of {} is {}'.format(country,city)) #alternative way using .format

Japan Tokyo
Korea Soul
China Beijing

### print zip() with *

In [114]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Soul', 'Beijing')
z = zip(countries, cities)
print(*z)

('Japan', 'Tokyo') ('Korea', 'Soul') ('China', 'Beijing')

### Enumerate
If we actually need the index from a list, one option is to use `enumerate()`.
- enumerate is a function that takes any iterable as argument, such as a list, and returns a special enumerate object, which consists of pairs containing the elements of the original iterable, along with their index within the iterable.
- The enumerate object itself is an iterable and we can loop over it while unpacking its elements using the clause for index

To understand what `enumerate()` does, consider the following example

In [115]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

## List Comprehensions

[List comprehensions](https://en.wikipedia.org/wiki/List_comprehension) are an elegant Python tool for creating lists.
- collapse for loops for building lists into a SINGLE! line 
- require components [output expression for iterator variable in iterable]: 
    - iterable 
    - iterator variable (represent members of iterable 
    - output expresion

Instead of `for` loop:

In [3]:
animals = ['dog', 'cat', 'bird']
plurals = []
for animal in animals:
    plurals.append(animal + 's')
    
print(plurals)

['dogs', 'cats', 'birds']

...We can use **list comprehension**:

In [4]:
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
print(plurals)

['dogs', 'cats', 'birds']

### List compehension with range()

In [118]:
squares = [x**2 for x in range(9)] # list comprehension from existing list
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

# Nested loops
- In the nested loop, the number of iterations will be equal to the number of iterations in the outer loop multiplied by the iterations in the inner loop.

In [1]:
# outer loop
for i in range(1, 11): # range() return 10 numbers
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ') # note default value is \n <-- i.e. new line
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In this program, the outer for loop is iterate numbers from 1 to 10. So total number of iteration of the outer loop is 10.
- In the first iteration of the nested loop, the number from outer loop is 1. In the next, it 2. and so on till 10.
    - Next, For each iteration of the outer loop, the inner loop will execute ten times. 
    - In each iteration of an inner loop, we calculated the multiplication of two numbers

### Nested loops with list comprehension
- TRADEOFF: note though we sacrifice some readability!

Instead of `for` loops:

In [2]:
pairs_1 = []
for num1 in range(0,2):
    for num2 in range(6,8):
        pairs_1.append((num1,num2))
print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

... We can use **list comprehension** again:

In [3]:
pairs_2 = [(num1,num2) for num1 in range(0,2) for num2 in range(6,8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

#### Create matrix

In [2]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

## Conditionals in comprehensions

- we can filter the output of a list comprehension using a conditional on the iterable

In [122]:
[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

- or we can condition on the output expression

In [123]:
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

## Dict comprehensions
- create dictionaries 
- use curly brackets `{}` instead of bracket `[]`

In [124]:
pos_neg = {num: -num for num in range(9)}
print(pos_neg)

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}

# Generator expressions

## list comprehensions vs generators
- list comprehension - returns a list
- generators - returns a generator object
- both can be iterated over

In [125]:
[2 * num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [126]:
# generator
(2 * num for num in range(10))

- unlike list comprehensions, the generator does not store lists

In [127]:
# [num for num in range(10**100000)] <-- dont run this, as your computer will be very unhappy!

In [128]:
(num for num in range(10**100000))

## Generator functions
- produces generator objects when called
- defined like a regular function - `def`
- yields a sequence of values instead of returning a single value
- generates a values with `yield` keyword

In [129]:
def num_sequence(n):
    """Generate values from 0 to n."""
    i = 0 # initialize
    while i < n:
        yield i
        i +=1

In [130]:
result = num_sequence(5)
print(type(result))

<class 'generator'>

In [131]:
for item in result:
    print(item)

0
1
2
3
4

## Comparisons and Logical Operators¶

### Comparisons

Many different kinds of expressions evaluate to one of the Boolean values (i.e., `True` or `False`).

A common type is comparisons, such as

In [132]:
x, y = 1,2 
x < y

True

In [133]:
x > y

False

One of the nice features of Python is that we can **chain inequalities**

In [134]:
1 < 2 < 3

True

As we saw earlier, when testing for equality we use `==`

In [135]:
x = 1    # Assignment
x == 2   # Comparison

False

For “not equal” use `!=`

In [136]:
1 != 2

True

Note that when testing conditions, we can use **any** valid Python expression

In [137]:
x = 'yes' if 42 else 'no'
x

'yes'

In [138]:
x = 'yes' if [] else 'no'
x

'no'

What’s going on here?

The rule is:

- Expressions that evaluate to zero, empty sequences or containers (strings, lists, etc.) and None are all equivalent to `False`.
    - for example, `[]` and `()` are equivalent to `False` in an `if` clause
- All other values are equivalent to `True`.
    - for example, `42` is equivalent to `True` in an `if` clause

## Combining Expressions

We can combine expressions using `and`, `or` and `not`.

These are the standard logical connectives (conjunction, disjunction and denial)

In [139]:
1 < 2 and 'f' in 'foo'

True

In [140]:
1 < 2 and 'g' in 'foo'

False

In [141]:
1 < 2 or 'g' in 'foo'

True

In [142]:
not True

False

In [143]:
not not True

True

Remember

- `P and Q` is `True` if both are `True`, else `False`
- `P or Q` is False if both are `False`, else True

# Positional formatting

## String formatting (string interpolation)
- The proces of insert a custom *string* or *variable* in a predefined text:

There are **3 modern approaches** for formatting:
1. positional formatting
2. formatted strings literals
3. template methods (*not relevant here*)

### Positional formatting
- put placeholders defined by a pair of curly braces in a text. We call the string ".format" method. 
- Then, we pass the desired value into the method. 
- The method replaces the placeholders using the values in order of appearance.

```Python
'text{}'.format(value)
```

In [144]:
# Example 
print("Machine learning provides {} the ability to learn {}.".format("systems", "automatically"))

Machine learning provides systems the ability to learn automatically.

Note, we can use variables for both initial string and values passed into the method:

In [145]:
my_string = "{} rely on {} datasets"
method = "Supervised algorithms"
condition = "labeled"

In [146]:
print(my_string.format(method, condition))

Supervised algorithms rely on labeled datasets

#### Reordering values
- include an index number into the placeholders to reorder values

In [147]:
print("{} has a friend called {} and a sister called {}.".format("Betty","Linda", "Daisy"))

Betty has a friend called Linda and a sister called Daisy.

In [148]:
# reordering
print("{2} has a friend called {0} and a sister called {1}.".format("Betty","Linda", "Daisy"))

Daisy has a friend called Betty and a sister called Linda.

#### Named placeholders
- specify a name for the placeholders

We can also introduce keyword arguments that are called by their keyword name

In [149]:
tool = "Supervised algorithms"
goal = "patterns"
print("{title} try to find {aim} in dataset".format(title=tool, aim=goal))

Supervised algorithms try to find patterns in dataset

Another example:

In [150]:
my_methods = {"tool": "Unsupervised algorithms", "goal": "patterns"}

In [151]:
print('{data[tool]} try to find {data[goal]} in the dataset'.format(data=my_methods))

Unsupervised algorithms try to find patterns in the dataset

#### Format specifier
- specify data type to be used: `{index:specifier}`

In [152]:
print("Only {0:.2f}% of the {1} produced worldwide is {2}!.".format(0.5155675, "data", "analyzed"))

Only 0.52% of the data produced worldwide is analyzed!.

#### Formatting datetime

In [153]:
from datetime import datetime
print(datetime.now())

2022-07-24 11:10:31.746067

In [154]:
print("Today's date is {:%Y-%m-%d %H:%M}".format(datetime.now()))

Today's date is 2022-07-24 11:10

#### Escaped sequences
- escaped sequences: backslashed `\`
- doesn't wirk for f-strings

In [155]:
print("My dad is called \"John\"")

My dad is called "John"

## Formatted string literal (f-strings)
- minimal syntax
- **advantage**: Inline operations
- add prefix `f` to string
```Python
f"literal string{expression}"
```

In [156]:
way = "code"
method = "learning Python faster"
print(f"Practicing how to {way} is the best method for {method}")

Practicing how to code is the best method for learning Python faster

#### Type conversion
f-strings allow us to convert expressions into different types:
-  `!s` for strings
- `!r` for printable representation of strings
- or `!a` to escape non-ASCII characters

In [157]:
name = "Python"
print(f"Python is called {name!r} due to a comedy series")

Python is called 'Python' due to a comedy series

#### Format specifiers
Standard format specifiers:
- `e` (scientific notation, e.g. 5 10^3)
- `d` (digit e.g. 4)
- `f` (float, e.g. 4.5353)

In [158]:
number = 90.41515151425
print(f"In the last 2 years, {number:.2f}% of the data was produced worlwide!.")

In the last 2 years, 90.42% of the data was produced worlwide!.

#### Formatting datetime (f-strings)

In [2]:
from datetime import datetime 
my_today = datetime.now()

In [3]:
print(f"Today's date is {my_today:%B %d,%Y}") # note %B is used for full month name

Today's date is July 25,2022

#### Index lookups

In [161]:
family = {"dad": "John", "siblings": "Peter"}

In [162]:
print("Is your dad called {family[dad]}?".format(family=family))

Is your dad called John?

- Use quotes for index lookups: `family["dad"]`

In [163]:
print(f"Is your dad called {family['dad']}?") # note we need to use '' instead of "" around the index dad

Is your dad called John?

#### Inline operations
- evaluate expressions and call function inline

In [164]:
my_number = 4
my_multiplier = 7

In [165]:
print(f"{my_number} multiplied by {my_multiplier} is {my_number * my_multiplier}")

4 multiplied by 7 is 28

#### Calling functions

In [166]:
def my_function(a,b):
    return a + b

In [167]:
print(f"If you sum up 10 and 20 the result is {my_function(10,20)}")

If you sum up 10 and 20 the result is 30